:root {
    --main-color: #76cdd8;
    --btn-and-price-color: #019999;
    --pricing-table-color: #24d4d4;
    --btn-primary-hover-color: rgb(118, 205, 216);
}

.tm-bg-color-primary {
    background-color: var(--main-color);
}

.tm-bg-color-secondary {
    background-color:var(--btn-and-price-color);
}

.tm-form-header {
    background-color: var(--pricing-table-color);
}

.tm-col-md-reverse {
    flex-direction: row-reverse;
}

.tm-text-color-primary {
    color: var(--main-color);
}

.tm-md-flex-center .tm-quote,
.tm-flex-center {
    font-size: 1.05rem;
}

.btn {
    margin-top: 1rem;
    border: 1px solid var(--btn-and-price-color);
    background-color: var(--btn-and-price-color);
}

.btn-primary:hover {
    border: 1px solid var(--btn-primary-hover-color);
    background-color: var(--btn-primary-hover-color);
}

.btn-secondary:hover {
    background-color: var(--pricing-table-color);
    border: 1px solid black;
}

.tm-mb-30 {
    margin-bottom: 1.7rem;
}
   
.tm-pricing-table {
    margin: 2rem 0;
    border: 1px solid var(--btn-and-price-color);
}

.tm-contact-form {
    z-index: 1;
    margin-top: -50px;
    margin-bottom: -50px;
}

.tm-card:hover {
    color: var(--main-color);
}

[class $="tm-card"]:hover::after {   
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 0; 
    height: 0;
    border-top: 100px solid var(--main-color);
    border-left: 100px solid transparent;  
}

.tm-col-md-reverse:hover::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 0; 
    height: 0;
    border-top: 100px solid var(--main-color);
    border-right: 100px solid transparent;
}

.img-fluid:hover{
    transform: scale(1.1);
}

.tm-pricing-table:hover {
    margin: 0;
    box-shadow: 0 0 0 0.2rem var(--pricing-table-color);
}

.tm-pricing-table:hover .tm-pricing-discount {
    display: block;
}

.tm-pricing-discount__star {
    color: red;
}

.tm-pricing-discount__text {
    color: var(--pricing-table-color);
}

.form-control:focus,
.form-group select:focus {
    border-color: var(--pricing-table-color); 
    box-shadow: 0 0 0 0.2rem var(--pricing-table-color); 
}


